# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyt
*.pyc
*.pyo
*.pyd
*.pyd
*.so
*.egg-info/
dist/
build/
.eggs/
*.egg
*.log
*.sqlite3
.env
/.venv*/
venv/
ENV/
env/
pip-wheel-metadata/
.coverage
coverage.xml
*.cover
htmlcov/
.tox/
.nox/
.pytest_cache/
.mypy_cache/
.cache/
.dmypy.json
.pyre/
.pytype/
.idea/
.vscode/
.ipynb_checkpoints/
.DS_Store
*.swp

# Project-specific
logs/
checkpoints/
videos/
*.pt
*.pth


# MuJoCo
/MUJOCO_LOG.TXT

# data
/osim_muscle_data_extracted/